<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>
	<section class="cyberpunk black">
		<a href="/">🤘 main page</a>

		<h1 class="cyberpunk">
			Login
		</h1>
		<p class="cyberpunk inverse dotted scannedh">
			This is a simple Login page, some of the challenges requires you to have a user and here you can login to your user to maintain a session.
			<br/><br/>
		<p/>
	</section>

	<section class="cyberpunk">
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">

					<h2 class="cyberpunk">Login:</h2>
						CREDENTIALS: <input type="text" class="cyberpunk" placeholder="Insert your username\email" id="creds">
						<br/>
						PASSWORD: <input type="text" class="cyberpunk" placeholder="Insert your password" id="password">

						<h2 class="cyberpunk" id="notification" hidden="true"></h2>

						<div class="center-cyberpunk">
							<button type="submit" class="cyberpunk2077 red" id="search">Submit_</button>
						</div>

				</div>
			</div>
		</div>
	</section>

	<section class="cyberpunk black">
	</section>

	<script>
		$("#search").click(function () {
			$.ajax({
				url: "/api/login_safe",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(
					{
						"creds": $("#creds").val(),
						"password":$("#password").val()
					}
				),
				success: function(data)
				{
					$("#notification").show(500).html(data.msg);
				}
			});
		});
	</script>
</body>
</html>
