<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>	<!-- Fixed navbar -->
<section class="cyberpunk black">
	<a href="/">🤘 main page</a>

	<h1 class="cyberpunk">
		Open Redirect < <%= stage %> >
	</h1>
	<p class="cyberpunk inverse dotted scannedh">
		An http parameter may contain a URL value and could cause the web application to redirect the request to the specified URL. By modifying the URL value to a malicious site, an attacker may successfully launch a phishing scam and steal user credentials. Because the server name in the modified link is identical to the original site, phishing attempts have a more trustworthy appearance.
		<br/><br/>
		<kbd>Your mission</kbd> - Try to inject alert('CPR') in the input field.
	<p/>
</section>

<section class="cyberpunk">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<b style="font-size:20px">Start The Challenge By Pressing start:</b>
				<a href="/redirect?url=<%= callback ? callback : "/a7/stage/5_real" %>" class="cyberpunk2077 red" id="startChallenge">
					START_
				</a>
				<hr/>
				You will be redirected in <span id="timerChallenge">5</span> seconds
			</div>
		</div>
	</div>
</section>

<section class="cyberpunk black">
</section>
<script>
	let counter = 5;
	setInterval(()=>{
		if (counter > 0 ){
			document.getElementById("timerChallenge").innerText = counter;
			counter -- ;
		} else {
			document.getElementById("startChallenge").click();
		}
	}, 1000);
</script>
</body>
</html>
