<!DOCTYPE html>
<html>
<head>
  <title>DefCon</title>
  <link rel="stylesheet" type="text/css" href="./assets/css2/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="./assets/css2/cyberpunk-2077.css" media="screen">

  <script src="./assets/js2/jquery.min.js"></script>
  <script src="./assets/js2/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

<section class="cyberpunk black">
  <h1 class="cyberpunk">DEF CON <29></h1>

  <p class="cyberpunk inverse dotted">
    From ZERO To HERO In Web Security Research by CPR Team,
    <br/>In this workshop we will teach you how to find vulnerabilities in web security according to the latest methods and techniques.
  </p>

  <hr class="cyberpunk glitched">

  <div class="row">
    <div class="col-md-4">
        <p class="cyberpunk">
          A10 Insufficient Logging & Monitoring
          <br/>
          <a href="/a10/stage/1"> > Improper Error Handling ( 1)</a><br/>
          <a href="/a10/stage/2"> > Improper Error Handling ( 2)</a><br/>
          <br/>
        </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A9 Using Components with known vulnerabilities
        <br/>
        <a href="/a9/stage/1"> > Components with known vulnerabilities ( 1)</a><br/>&nbsp;
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A8 Software and Data Integrity Failures
        <br/>
        <a href="/a8/stage/1"> > Software and Data Integrity Failures ( 1)</a><br/>
        <br/><br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A7 Cross Site Scripting (XSS)
        <br/>
        <a href="/a7/stage/1"> > Cross Site Scripting ( 1)</a><br/>
        <a href="/a7/stage/2"> > Cross Site Scripting ( 2)</a><br/>
        <a href="/a7/stage/3"> > Cross Site Scripting ( 3)</a><br/>
        <a href="/a7/stage/4"> > Cross Site Scripting ( 4)</a><br/>
        <a href="/a7/stage/5"> > Cross Site Scripting ( 5) | Open Redirect</a><br/>
        <a href="/a7/stage/6"> > Cross Site Scripting ( 6) | CSP Bypass</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A6 Security Misconfiguration
        <br/>
        <a href="/a6/stage/4"> > Stored XSS ( 1)</a><br/>

        <a href="/a6/stage/1"> > Cross-Origin Resource Sharing (CORS) ( 2)</a><br/>
        <a href="/a6/stage/1"> > Cross Site Request Forgery (CSRF) ( 3)</a><br/>
        <a href="/a6/stage/2"> > Cross Site Request Forgery (CSRF) | Cookie ( 4)</a><br/>
        <a href="/a6/stage/3"> > Cross Site Request Forgery (CSRF) | Param ( 5)</a><br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A5 Broken Access Control
        <br/>
          <a href="/a5/stage/1"> > Parameter Tampering ( 1)</a><br/>
          <a href="/a5/stage/2"> > Parameter Tampering ( 2)</a><br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A4 - Insecure Design
        <br/>
          <a href="/a4/stage/1"> > Insecure Design ( 1)</a>
        <br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A3 Sensitive Data Exposure
        <br/>
        <a href="/a3/stage/1"> > Sensitive Data Exposure ( 1)</a>
        <br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A2 Broken Authentication
        <br/>
        <a href="/a2/stage/1"> > Broken Authentication ( 1)</a><br/>

        <a href="/a2/stage/2"> > JWT none ( 5)</a><br/>
        <a href="/a2/stage/3"> > JWT HS256 ( 6)</a><br/>
        <a href="/a2/stage/4"> > JWT RS256 ( 7)</a><br/>
        <br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk">
        A1 Injection
        <br/>
          <a href="/a1/stage/1"> > noSQL Injection ( 1)</a><br/>
          <a href="/a1/stage/2?title=SSTI&id=2&stage=2"> > SSTI ( 2)</a><br/>
        <br/>
      </p>
    </div>

    <div class="col-md-4">
      <p class="cyberpunk inverse dotted">
        <u>Authentication</u>
        <br/>
        <a href="/auth/register"> > Register a User</a><br/>
        <a href="/auth/login"> > Authenticate the User</a><br/>
        <br/>
      </p>
    </div>

  </div>

</section>

</body>
</html>
