<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>	<!-- Fixed navbar -->
<section class="cyberpunk black">
	<a href="/">🤘 main page</a>

	<h1 class="cyberpunk">
		A8 - Software and Data Integrity Failures < <%= stage %> >
	</h1>
	<p class="cyberpunk inverse dotted scannedh">
		This new category focuses on making assumptions related to software critical data, and CI/CD pipelines without verifying integrity.
		<br/><br/>
		One of the highest weighted impacts of the Common Vulnerability and Exposures/Common Vulnerability Scoring System (CVE/CVSS) needed to be tested during the CI/CD pipelines.
	<p/>
</section>
<section class="cyberpunk">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1 class="cyberpunk"><a href="https://owasp.org/Top10/A08_2021-Software_and_Data_Integrity_Failures/" target="_blank">read more here</a></h1>
			</div>
		</div>
	</div>
</section>
<section class="cyberpunk black">
</section>

</body>
</html>
