<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>	<!-- Fixed navbar -->
<section class="cyberpunk black">
	<a href="/">🤘 main page</a>

	<h1 class="cyberpunk">
		A8 - Insecure Deserialization < <%= stage %> >
	</h1>
	<p class="cyberpunk inverse dotted scannedh">
		Insecure Deserialization is a vulnerability which occurs when untrusted data is used to abuse the logic of an application, inflict a denial of service (DoS) attack, or even execute arbitrary code upon it being deserialized.
		<br/><br/>
		<kbd>Your mission</kbd> - Try to exploit insecure deserialization by reading the file "/etc/passwd".
	<p/>
</section>
<section class="cyberpunk">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1 class="cyberpunk">DEMO TIME</h1>
			</div>
		</div>
	</div>
</section>
<section class="cyberpunk black">
</section>

</body>
</html>
