<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/assets/css2/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css2/cyberpunk-2077.css" media="screen">

    <script src="/assets/js2/jquery.min.js"></script>
    <script src="/assets/js2/bootstrap.min.js"></script>
</head>