<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>	<!-- Fixed navbar -->
<section class="cyberpunk black">
	<a href="/">🤘 main page</a>

	<h1 class="cyberpunk">
		A4 - Insecure Design < <%= stage %> >
	</h1>
	<p class="cyberpunk inverse dotted scannedh">
		Secure Design emphasizes the importance of implementing security measures from the design phase, rather than just relying on finding and fixing vulnerabilities after development.
		<br/><br/>
		This category encourages proactive security practices, such as secure design patterns, and principles to reduce the risk of design-related security issues.
	<p/>
</section>
<section class="cyberpunk">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1 class="cyberpunk"><a href="https://owasp.org/Top10/A04_2021-Insecure_Design/" target="_blank">read more here</a></h1>
			</div>
		</div>
	</div>
</section>
<section class="cyberpunk black">
</section>

</body>
</html>
